sudo: true

before_install:
  - "echo $JAVA_OPTS"
  - "export JAVA_OPTS='-Xmx1024m -XX:MaxPermSize=384m'"
  - "echo $GRADLE_OPTS"
  - "export GRADLE_OPTS='-Dorg.gradle.parallel=false'"
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

install:
- ./gradlew assemble --stacktrace

script:
- set -e
- source build/release/gradle/setGitVariables.sh
- ./gradlew release -Prelease.disableRemoteCheck -Prelease.localOnly --stacktrace --continue
- ./gradlew check publishToMavenLocal -Pcoverage -Pcompatibility -Dstubrunner.skip-local-repo=true -PbintrayUser=${BINTRAY_USER} -PbintrayKey=${BINTRAY_API_KEY} --stacktrace --continue
- if [ $DO_ACCEPTANCE_TESTS == true ]; then ./gradle/runBootMicroserviceAcceptanceTests.sh; fi
- ./gradlew finalizeRelease publishUploadedArtifacts -x test -Pcoverage -Pcompatibility -Dstubrunner.skip-local-repo=true -PbintrayUser=${BINTRAY_USER} -PbintrayKey=${BINTRAY_API_KEY} --stacktrace

after_success:
- ./gradlew jacocoRootReport coveralls -Pcoverage --continue

cache:
  directories:
  - $HOME/.gradle
  - $HOME/.m2

language: groovy

jdk:
- oraclejdk8

addons:
  firefox: "46.0.1"

env:
  global:
    - TERM=dumb
    - SKIP_RELEASE=false
    - DO_ACCEPTANCE_TESTS=true
    - secure: bfDBE6D+46A8h4+LGS9Spczjq0/8hXBCsyt1rb6kzouw3QP5hkVLdd3mF1T250DGa6qfDWTskLVDzo+Oe1ceOsvbMSb/A/A6hvaGIFIlmyRI5Ird3B9fhSKhFUjn9kkHaUVy/ix98UsAL59e7mqkNIcz4LUw6StiKugAUF3Wzk8=
    - secure: J4fk9XkFDpm5GCP2kBd7aKHW3CgFAr3zSpfnDTQV3n7qlvzQNUU+OfMSi86+J5Rxm3HOkl0SypYQjQv4NBytnaV/mV6ZAztHnoC0YYx0D3B3OSzFVstrkyddIF19R/ejEwTezAJg/bLXdZemTveHJHoEnbkv0fN+CIZ9kz/9bt4=
    - secure: ogwhc2NiNb0YIiWuUu7K24plJiSYVEeOj9rOh1PG6RoSRVJ1Bh6+hQ//vCaak4Z/pPmLkikPhFjfnYMQlyvmc9qhXUABjJ1SzZRozoZETRpMrFXu//Q6fCkh2P5ygKezNaAgD+zKbf+8DEkUW/7XOTNczTQZ1mL6XgS3BThPUA8=
 
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/57cf940e3be7a7073287
    on_success: always  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
